body {
    background-color: #5843a1;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
}
.cabecalho {
    background-color: #8c00ff;
    color: #ffffff;
    text-align: center;
    padding: 40px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 70px;
}


.slogan {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}

/* Área central */
.conteudo-principal {
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
}
section{
    border: 5px solid rgb(240, 226, 31);
    margin: 20px;
    padding: 30px;
    
}